---
// Used in Project pages

interface Props {
    projectTitle?: string;
    prodjectDescription?: string;
    url?: string;
    year?: string;
    targetType?: string;
}
const { projectTitle, url, prodjectDescription, year, targetType = "_blank" } = Astro.props;
---

<div class="flex flex-row gap-1 min-h-24">
    <div class="flex-1 gap-1 flex flex-col">
        <div>
            <a
                target={targetType}
                href={url}
                class="typo-link text-light-body dark:text-dark-body"
                >{projectTitle}
            </a>
            <!-- <img class="inline h-3 w-3" src="/link.svg" /> -->
        </div>
        <p class="text-light-subtle text-ssubtle dark:text-dark-subtle">
            {prodjectDescription}
        </p>
    </div>
    
    <div class="text-light-body dark:text-dark-body">
        {year}
    </div>
</div>
