---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadBase from "../components/HeadBase.astro";

export interface Props {
	pageName: string;
	canonicalLink?: string;
	backTo?: string;
	pageTitle?: string;
	showBackButton: boolean;
}

const { pageName, canonicalLink, backTo, pageTitle, showBackButton} = Astro.props;
---

<html lang="en">
	<HeadBase pageName={pageName} canonical={canonicalLink} />
	<body
		id="top"
		class="flex flex-col min-h-screen mx-auto max-w-2xl p-6
		bg-light-background
		selection:bg-lime-400
		selection:text-black
		text-light-body
		text-left typo-sbody
		dark:bg-dark-background
		dark:selection:bg-zinc-800
		dark:selection:text-dark-body
		dark:text-dark-body"
	>
		<container class="flex flex-grow flex-col pt-24 gap-6">
			<Header
				pageTitle={pageTitle} showBackButton={showBackButton}
			/>
			<content class="flex flex-col gap-20 flex-grow">
				<!-- page title and navigation -->
				<div class="flex flex-col gap-8">
					{backTo && <p class="">{backTo}</p>}
					
				</div>
				<!-- page content -->
				<slot />
			</content>
			<Footer />
		</container>
	</body>
</html>
