---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadBase from "../components/HeadBase.astro";

export interface Props {
	pageName: string;
	canonicalLink?: string;
	backTo?: string;
	showBackButton: boolean;
	isItalic?: boolean;

}

const { pageName, canonicalLink, backTo, showBackButton, isItalic=true } = Astro.props;
---

<html lang="en">
	<HeadBase pageName={pageName} canonical={canonicalLink} />
	<body
		id="top"
		class="flex flex-col min-h-screen mx-auto max-w-2xl p-6
		bg-light-background
		selection:bg-lime-400
		selection:text-black
		text-light-body
		text-left typo-sbody
		dark:bg-dark-background
		dark:selection:bg-zinc-800
		dark:selection:text-dark-body
		dark:text-dark-body"
	>
		<container class="flex flex-grow flex-col pt-24 gap-16">
			<Header backTo={backTo} showBackButton={showBackButton} isItalic={isItalic} />
			<div class="flex flex-grow flex-col pt-23 gap-10">
				<slot />
			</div>
			<Footer />
		</container>
	</body>
</html>
