---
// Component Imports
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import HeadBase from "../components/HeadBase.astro";

export interface Props {
	pageName: string;
	canonicalLink?: string;
	backTo?: string;
	showBackButton: boolean;
	pageTitle: string;
	pageIntro?: string;
}

const {
	pageName,
	canonicalLink,
	backTo,
	showBackButton,
	pageTitle,
	pageIntro,
} = Astro.props;

// Calculate the parent URL
const currentPath = Astro.url.pathname.replace(/\/$/, ""); // Removes trailing slash
const parentPath = currentPath.substring(0, currentPath.lastIndexOf("/")) || "/"; // Parent folder or root
---

<html lang="en">
	<HeadBase pageName={pageName} canonical={canonicalLink} />
	<body
		id="top"
		class="flex flex-col min-h-screen mx-auto max-w-5xl p-6
		bg-light-background
		selection:bg-lime-400
		selection:text-black
		text-light-body
		text-left typo-sbody
		dark:bg-dark-background
		dark:selection:bg-gray-800
		dark:selection:text-dark-body
		dark:text-dark-body"
	>
		<div class="flex flex-row flex-grow gap-10 pt-24 flex-wrap" >
			<!-- col left -->
			<div class="flex-auto max-w-40 min-w-40">
				<div class="sticky top-24">
					<a
						href={parentPath}
						class={`whitespace-nowrap text-ssubtle text-black dark:text-dark-body italic`}
					>
						{showBackButton && <img class="inline h-3 w-3" src="/back-index.svg" />}
						{backTo}
					</a>
				</div>
			</div>
			<!-- col middle -->
			<div class="flex flex-col gap-14 w-[576px]">
				<Header
					pageTitle={pageTitle}
					pageIntro={pageIntro}
				/>
				<!-- main center column -->
				<div class="flex flex-grow flex-col gap-16">
					<slot />
				</div>
				<Footer />
			</div>
			<!-- col right -->
			<div class="flex-auto max-w-40"></div>
		</div>
	</body>
</html>
