---
// Component Imports
import HeadBase from "../components/HeadBase.astro";
import Header from "../components/Header.astro";

export interface Props {
    pageName: string;
    blogTitle?: string;
    headDescription?: string;
    canonicalLink?: string;
    pageTitle?: string;
    showBackButton?: boolean;
}

const { pageName, blogTitle, headDescription, canonicalLink, pageTitle, showBackButton } =
    Astro.props;
---

<html lang="en">
    <HeadBase pageName={pageName} canonical={canonicalLink} />
    <body
        id="top"
        class="mx-auto max-w-2xl p-6 md:pt-6 flex flex-col min-h-screen
        text-left
        selection:bg-lime-400
        dark:bg-black
        dark:text-dark-body"
    >
        <container class="flex flex-col typo-body gap-24 pt-24 text-light-body dark:text-dark-body">
            <Header pageTitle={pageTitle} showBackButton={showBackButton} />
            <!-- blog title and description -->
            <!-- {
                (blogTitle || headDescription) && (
                    <div class="flex flex-col gap-2">
                        {blogTitle && <p class="text-xl">{blogTitle}</p>}
                        {headDescription && <p class="articleSubParagraph">{headDescription}</p>}
                    </div>
                )
            } -->
            <!-- blog content here -->
            <slot />
        </container>
    </body>
</html>
